<!-- Footer -->
<section id="footer" class="mt-auto bg-body-tertiary" th:fragment="footer">
  <div class="container">
    <div class="row f-top">
      <div class="col-12 col-sm-12 col-md-5 info">
        <p>Thông tin liên hệ</p>
        <ul>
          <li class="text-body-secondary">
            <i class="fas fa-phone fa-fw me-2 fa-flip-horizontal"></i>(+84) 0123456789
          </li>
          <li class="text-body-secondary">
            <i class="fas fa-phone fa-fw me-2 fa-flip-horizontal"></i>(+84) 0123456789
          </li>
          <li class="text-body-secondary">
            <i class="far fa-envelope fa-fw me-2"></i>lipstick.store@gmail.com
          </li>
          <li class="text-body-secondary">
            <i class="fas fa-map-marker-alt fa-fw me-2"></i>Thạch Hoà - Thạch Thất - Hà Nội
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-2 course">
        <h6>THƯƠNG HIỆU</h6>
        <p>&nbsp;</p>
        <ul>
          <li>
            <a href="#" class="text-body-secondary text-decoration-none">Chanel</a>
          </li>
          <li>
            <a href="#" class="text-body-secondary text-decoration-none">Dior</a>
          </li>
          <li>
            <a href="#" class="text-body-secondary text-decoration-none">YSL</a>
          </li>
          <li>
            <a href="#" class="text-body-secondary text-decoration-none">Louboutin</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-2 course">
        <h6>LOẠI SON</h6>
        <p>&nbsp;</p>
        <ul>
          <li>
            <a th:href="@{/lipstick-type/1}" class="text-body-secondary text-decoration-none">Son Thỏi</a>
          </li>
          <li>
            <a th:href="@{/lipstick-type/2}" class="text-body-secondary text-decoration-none">Son Kem</a>
          </li>
          <li>
            <a th:href="@{/lipstick-type/3}" class="text-body-secondary text-decoration-none">Son Dưỡng</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-3 social">
        <h6>FOLLOW US</h6>
        <p>Cập nhật thông tin - khuyến mãi mới nhất</p>
        <ul>
          <li>
            <a href="#" class="text-decoration-none" target="_blank">
              <i class="fab fa-facebook-square text-primary"></i>
            </a>
            <a href="#" class="text-decoration-none" target="_blank">
              <i class="fab fa-instagram-square text-danger"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
