<div class="modal fade"
     id="confirmModal"
     tabindex="-1"
     aria-labelledby="confirmModalModalLabel"
     aria-hidden="true"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     th:fragment="confirm-modal"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body py-4 text-center">
        <h5 class="mb-2 fw-medium" id="confirmModalModalLabel">Thông báo</h5>
        <div id="confirm-modal-content"></div>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <a href="javascript:void(0)" class="btn btn-link col-6 rounded-0 border-end" id="btn-confirm-modal">
          <i class="fas fa-check me-2"></i><span class="fw-medium">Xác nhận</span>
        </a>
        <a href="javascript:void(0)" class="btn btn-link col-6 rounded-0" data-bs-dismiss="modal">Đóng</a>
      </div>
    </div>
  </div>
</div>
