<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title>Products</title>
  <link rel="stylesheet" th:href="@{/css/products.css}"/>
</head>
<body>
  <th:block layout:fragment="content">
    <section id="cover">
      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <h1 class="title mb-3">
              <span th:text="${title}"></span>
              <span class="ms-1 title-quantity text-danger" th:text="'[' + ${products.size} + ']'"></span>
            </h1>
            <p class="title-des">
              Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="sub-nav" class="sub-nav bg-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-between">
              <ul class="nav nav-underline">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Thương hiệu
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start mt-1">
                    <li th:each="brand : ${brands}">
                      <a class="dropdown-item" th:href="@{'/lipstick-brand/' + *{brand.id}}" th:text="*{brand.brandName}"></a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Loại son
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start mt-1">
                    <li th:each="category : ${categories}">
                      <a class="dropdown-item" th:href="@{'/lipstick-type/' + *{category.id}}" th:text="*{category.categoryName}"></a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav nav-underline">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sắp xếp theo
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end mt-1">
                    <li>
                      <a class="dropdown-item" th:href="@{/lipstick/sort(type=desc)}"><i class="fas fa-sort-amount-down-alt fa-fw me-1"></i>Giá (cao - thấp)</a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/lipstick/sort(type=asc)}"><i class="fas fa-sort-amount-down fa-fw me-1"></i>Giá (thấp - cao)</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="products">
      <div class="container my-5">
        <div class="row">
          <th:block th:unless="${products.isEmpty()}">
            <div class="col-6 col-md-4 col-lg-3" th:each="product : ${products}">
              <a class="card" th:href="@{'/lipstick/detail/' + *{product.id}}">
                <img th:src="@{'/images/products/' + *{product.productImage}}" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title product-title">
                    <span th:text="*{product.productName + ' - ' + product.productColor}"></span>
                  </h5>
                  <h5 class="product-price text-danger">
                    <span th:text="*{#numbers.formatInteger(product.productPrice, 3, 'POINT')}"></span><sup>đ</sup>
                  </h5>
                </div>
              </a>
            </div>
          </th:block>
          <th:block th:if="${products.isEmpty()}">
            <div class="col-12">
              <h3 class="text-center m-0 py-5">Không tìm thấy sản phẩm nào.</h3>
            </div>
          </th:block>
        </div>
      </div>
    </section>

<!--    <section id="pagination" class="container">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <nav class="my-5">-->
<!--            <ul class="pagination justify-content-center">-->
<!--              <li class="page-item disabled">-->
<!--                <a class="page-link">Previous</a>-->
<!--              </li>-->
<!--              <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--              <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--              <li class="page-item">-->
<!--                <a class="page-link" href="#">Next</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

  </th:block>
  <th:block layout:fragment="js">
    <script th:src="@{/js/product.js}"></script>
  </th:block>
</body>
</html>